<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PABM_Metamodel -->
      <package
            uri="www.unican.es/ISTR/P3forI4/pasys"
            class="PASYS_Metamodel.pasys.PasysPackage"
            genModel="metamodels/PABM_Metamodel.genmodel"/>
   </extension>

</plugin>
